 <div class="jumbotron">
      <div class="container">
        <div class="header">
          <div class="row">
            <div class="col-md-2">
              <img src="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/logo.svg" width="180" height="34">
            </div>
          </div>
        </div>

        <div class="main">
          <h1>See the information about your favorite games.</h1>
          <a class="btn btn-default" href="#">Learn More</a>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input type="text" class="form-control" id="search" placeholder="Browse the collection">
            </div>
            <button type="submit" class="btn btn-submit">Search</button>
          </form>          
        </div>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <h2>A world of information about games at your fingertips.</h2>
        <p>Choose from the latest titles, with new games content information added every day.</p>
        <div class="row">
          <div class="col-md-8">
            <div class="thumbnail">
              <!-- The Avengers -->
              <img src="http://ll-c.ooyala.com/e1/FxZnluYjE6hEoFHu02TdwQqWA8tlkcwv/promo322349625">
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Harry Potter and the Deathly Hallows -->
              <img src="https://i.cdn29.hu/apix_collect_c/1706/fifa-18-cover/fifa_18_cover_screenshot_20170605172933_1_original_1920x1080.jpg">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Frozen -->
              <img src="https://webcdn.triongames.com/trove/social/og_trove.jpg">
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Iron Man 3 -->
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/93/Horizon_Zero_Dawn.jpg/250px-Horizon_Zero_Dawn.jpg">
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Transformers: Dark of the Moon -->
              <img src="https://pbs.twimg.com/profile_images/464836327515516928/TfG1ETDB_400x400.png">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- The Lord of the Rings -->
              <img src="https://upload.wikimedia.org/wikipedia/en/7/74/Sniper_Ghost_Warrior_3_cover_art.jpg">
            </div>
          </div>
          <div class="col-md-8">
            <div class="thumbnail">
              <!-- Skyfall -->
              <img src="https://i.ytimg.com/vi/Jbt3AUbV_so/maxresdefault.jpg">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- The Dark Knight Rises -->
              <img src="https://downloads.2kgames.com/2k/staging/datastore/1688-2k_nba2K18_fob_std_featured.jpg">
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Pirates of the Caribbean -->
              <img src="https://www.callofduty.com//content/dam/atvi/callofduty/wwii/home/wwii-fb-eyes-logo-pic.jpg">
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Toy Story 3 -->
              <img src="https://upload.wikimedia.org/wikipedia/en/1/1a/Uncharted_4_box_artwork.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="feature">
      <div class="container">
        <h1>Available for free</h1>
        <p>Get the best reviews of the games, mods and much more in any device. Be part of our connected network of gamers.</p>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>Bolt</h3>
            <ul>
              <li>Careers</li>
              <li>Terms</li>
              <li>Help</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>More Bolt</h3>
            <ul>
              <li>Gift Cards</li>
              <li>Trailers</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>News</h3>
            <ul>
              <li>Blog</li>
              <li>Twitter</li>
              <li>YouTube</li>
              <li>Google+</li>
              <li>Facebook</li>
            </ul>
          </div>
        </div>
      </div>
    </div>